.body {
    background-color: green;
}
.text {
    color: white;
}
.appbar {
    background-color: #15d68d;
    background-image: linear-gradient(90deg, #15d68d 0%, #09b3df 100%);
    color: "#000000";
    font-size: larger;
    font-weight: bolder;
    text-align: center;

}